body {
  background-color: rgb(56, 6, 38);
}

h1 {
  color: #d5d5d5;
  text-align: center;
  font-size: 3em;
  letter-spacing: 8px;
}
.container {
  margin: 0 auto;
  width: 50%;
}
form {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  border: 3px solid #faa609;
  border-radius: 10px;
}
input[type="name"],
input[type="text"],
input[type="email"],
input[type="text"] {
  width: 60%;
  height: 30px;
  background-color: #d5d5d5;
  border-radius: 17px;
}
input[type="name"],
input[type="text"],
input[type="email"],
input[type="text"] {
  background-color: rgb(194, 150, 92);
}
input[type="name"],
input[type="text"],
input[type="email"],
input[type="text"] {
  outline: none;
}
label {
  display: inline-block;
  text-align: right;
  width: 15%;
}
#prenom {
  margin-left: 15%;
  background-repeat: no-repeat;
  background-position: 10px;
}
select {
  height: 30px;
  background-color: #d5d5d5;
  border-radius: 25px;
}
.input-container {
  text-align: center;
  margin: 1em;
}
.nom {
  background-repeat: no-repeat;
  background-position: 10px;
}
.prenom {
  background-repeat: no-repeat;
  padding-left: 7px;
  background-position: 10px;
}
.email {
  background-repeat: no-repeat;
  padding-left: 25px;
  background-position: 10px;
}
.commentaire {
  background-repeat: no-repeat;
  background-position: 10px;
  text-align: center;
}
pays {
  background-repeat: no-repeat;
  background-position: 10px;
}
.titre {
  background-repeat: no-repeat;
  background-position: 10px;
}
textarea {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}
input[type="submit"] {
  padding: 12px;
  background-color: #3334;
  border: 0;
  border-radius: 10px;
}
input[type="submit"]:hover {
  padding: 12px;
  background-color: #3334;
  color: #d5d5d5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.erreur {
  color: #ff000f !important;
}
.invalide {
  border: 2px solid #ff0000;
  background-color: #ffffff;
}
.valide {
  border: 2px solid #00ff00;
  background-color: #ffffff;
}
.label {
  color: #ff0000;
}
.labelOk {
  color: #00ff00;
}
.message {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 3px;
  line-height: 24px;
  display: none;
}
