body {
  background: linear-gradient(to right, rgb(190, 124, 44), rgb(188, 182, 76));
}

.container {
  padding: 60px;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10%;
}
.message {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.messageTitle {
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  background: rgb(255, 0, 64);
  color: #fff;
  border-radius: 3px;
  box-sizing: border-box;
}

.closed .messageDescript {
  height: 0px;
  transform: scaleY(0);
}
.open .messageDescript {
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0px 0px 10px 0px;
  transform: scaleY(1);
  transform-origin: top;
  box-sizing: border-box;
}
.open .messageTitle {
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #bdc3c7;
  color: #7f8c8d;
}
/*menu principal*/
nav {
  width: 100%;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  /* pour mettre le menu sur 1ligne */
  flex-grow: 1;
  position: relative;
  text-align: center;
  background-color: white;
}
nav li:hover {
  background-color: orange;
}
nav li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: black;
  font-weight: bold;
  border-bottom: 4px solid rgb(4, 2, 2);
}
nav li a:hover {
  color: white;
  border-bottom: 4px solid goldenrod;
}
/*sous-menu deroulant*/
nav li ul {
  position: absolute;
  width: 100%;
  z-index: 100;
  display: none;
}
nav ul li:hover ul {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: goldenrod;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
.container {
  height: 90vh;
}
.copyright {
  font-size: 1.5em;
  font-weight: bold;
}
.social-icon {
  display: flex;
  flex-direction: row;
}
/*icones*/
.social-icon li {
  margin: 0px 10px 10px 0px;
  font-size: 18px;
  list-style-type: none;
  border-radius: 50%;
  transition: 0.55s;
}
.social-icon a {
  display: block;
  color: #fff;
  padding: 20px;
}
.social-icon li:hover {
  box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.5);
  transform: translateY(-8px) rotate(360deg) scale(0);
}
.social-icon li:nth-child(1) {
  background-color: #1877f2;
}
.social-icon li:nth-child(2) {
  background-color: #1da1f2;
}
.social-icon li:nth-child(3) {
  background-color: #ff5700;
}
.social-icon li:nth-child(4) {
  background-color: #e4405f;
}
.social-icon li:nth-child(5) {
  background-color: #cd201f;
}
