* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  background-color: burlywood;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  min-height: 100%;
}
p {
  margin: 2%;
}
/*menu principal*/
nav {
  width: 100%;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  /* pour mettre le menu sur 1ligne */
  flex-grow: 1;
  position: relative;
  text-align: center;
  background-color: white;
}
nav li:hover {
  background-color: orange;
}
nav li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: black;
  font-weight: bold;
  border-bottom: 4px solid rgb(4, 2, 2);
}
nav li a:hover {
  color: white;
  border-bottom: 4px solid goldenrod;
}
/*sous-menu deroulant*/
nav li ul {
  position: absolute;
  width: 100%;
  z-index: 100;
  display: none;
}
nav ul li:hover ul {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
}

.conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
.photos {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  max-width: 30%;
  margin: 20px;
}
.photos img {
  width: 50%;
  height: 50%;
  border: 3px solid #000;
}
.photos .texte {
  width: 100%;
  padding: 20px;
  font-size: 1.5em;
  align-items: center;
}
/* écran moyen + tablette*/
@media screen and (min-width: 326px) and (max-width: 767px) {
  .photos {
    max-width: 50%;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: goldenrod;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
.container {
  height: 90vh;
}
.copyright {
  font-size: 1.5em;
  font-weight: bold;
}
.social-icon {
  display: flex;
  flex-direction: row;
}
/*icones*/
.social-icon li {
  margin: 0px 10px 10px 0px;
  font-size: 18px;
  list-style-type: none;
  border-radius: 50%;
  transition: 0.55s;
}
.social-icon a {
  display: block;
  color: #fff;
  padding: 20px;
}
.social-icon li:hover {
  box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.5);
  transform: translateY(-8px) rotate(360deg) scale(0);
}
.social-icon li:nth-child(1) {
  background-color: #1877f2;
}
.social-icon li:nth-child(2) {
  background-color: #1da1f2;
}
.social-icon li:nth-child(3) {
  background-color: #ff5700;
}
.social-icon li:nth-child(4) {
  background-color: #e4405f;
}
.social-icon li:nth-child(5) {
  background-color: #cd201f;
}
