@import url("general.css");
@font-face {
  font-family: "";
  src: url("../fonts/monsttreal.oft.oft"), url("../fonts/monsttreal.fft.fft");
}
.page-member {
  background-color: rgb(56, 6, 38);
}

.page-member h1 {
  color: #d5d5d5;
  text-align: center;
  font-size: 3em;
  letter-spacing: 8px;
}
.page-member form {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  border: 3px solid #faa609;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 50%;
}
.page-member form ul div {
  padding-top: 2%;
}
input[type="text"],
input[type="password"] {
  width: 85%;
  height: 30px;
  background-color: #d5d5d5;
  border-radius: 8px;
}
input[type="submit"] {
  padding: 12px;
  margin-bottom: 10px;
  margin-left: 4%;
  background-color: #6624a5;
  border: 12px;
  border-radius: 10px;
}
input[type="submit"]:hover {
  padding: 12px;
  background-color: #3334;
  color: #d5d5d5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*.login {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 3px;
  line-height: 24px;
  display: none;
}*/
