@import url("general.css");
@font-face {
  font-family: "";
  src: url("../fonts/monsttreal.oft.oft"), url("../fonts/monsttreal.fft.fft");
}
.page-mission {
  background-color: grey;
}
.page-mission h1 {
  color: #d5d5d5;
  text-align: center;
  font-size: 3em;
  letter-spacing: 8px;
}
caption {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px;
}
table {
  border-spacing: 0;
  margin: 0 auto;
  height: 5%;
  width: 75%;
  background-color: blanchedalmond;
  margin-bottom: 5%;
}
th,
td {
  background-color: antiquewhite;
  border: 1px solid;
  padding: 10px;
  text-align: center;
}
th {
  background-color: antiquewhite;
  color: green;
  line-height: 1.4em;
  text-transform: uppercase;
}
