.sous-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.notes {
  background-color: grey;
  flex-basis: 30%;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  height: 80%;
}
#pic1,
#pic2,
#pic3 {
  float: left;
  border-radius: 70%;
  width: 250px;
  height: 260px;
  margin: 10px;
}
.bouton {
  display: flex;
  flex-direction: row;
}
.bouton {
  justify-content: center;
  background-color: brown;
  text-decoration: none;
  width: 30%;
  padding: 15px 20px;
  border: 0;
  font-size: 2em;
  color: bisque;
  text-align: center;
}
.bouton:hover {
  color: black;
  background-color: beige;
}
.bande {
  display: flex;
  justify-content: center;
  text-align: center;
}

.texte {
  font-size: 100%;
}

.plus-texte {
  display: none;
}

.texte.voirplus .plus-texte {
  display: inline;
  height: auto;
}
.texte.texte.voirplus .fin {
  display: none;
}

.bouton-lire-plus {
  cursor: pointer;
  padding: 3px;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 15px 60px;
}
